.context{
    flex-direction: column;
  height: 85vh;
  background: url('/game-bg.png') no-repeat center center fixed;
  background-size: cover;
  background-color: #4a1a7c;
  overflow: hidden;
  image-rendering: pixelated;
  text-align: center;
  background-attachment: scroll;
  align-items: center;
}